<?xml version="1.0"?>

<!--
EE3305/ME3243
Name: ENG CHEN XI, AVIEL
NUSNET ID: E0725008
-->

<launch>
	<arg name="student_pkg" value="a008u_path"/>

	<!-- Launch the parameters. -->
	<rosparam command="load" file="$(find a008u_path)/config/config.yaml"/>

	<!-- Launch all nodes in the student's package. -->
	<node pkg="$(arg student_pkg)" type="range_detect_node"
		name="range_detect_node" output="screen"/>
	<node pkg="$(arg student_pkg)" type="path_plan_node" name="path_plan_node" 
		output="screen"/>
	<node pkg="$(arg student_pkg)" type="bot_control_node" 
		name="bot_control_node" output="screen"/>

</launch>
